.insert-btn {
    font-size: 25px;
    color: white;
    padding: 4px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 1.95px 1.95px 2.6px;
    border: none;
    width: 300px;
    background-color: rgb(212, 52, 52);
}

.insert-btn:hover {
    background-color: rgb(200, 52, 52);
}

.insert-btn,
input:focus {
    border: none;
    outline: none;
}

.todo-item {
    /* cursor: grab; */
    width: 300px;
    height: 20vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(241, 255, 119);
}

.date {
    font-size: 13px;
}

.data {
    font-size: 20px;
}

.addNewTodo {
    font-size: 25px;
    color: white;
    padding: 4px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 1.95px 1.95px 2.6px;
    border: none;
    width: 200px;
    background-color: rgb(0, 173, 0);
}


.addNewTodo:hover {
    background-color: rgb(0, 165, 0);
}

.addNewTodo:active {
    outline: none;
}
.card-ico {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.moreOptions {
    margin-right: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.card-options button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}